@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 2px solid red; */
}

/* body {
    overflow-x: hidden;
}  */
:root {
  font-size: 62.5%;
  --main-color-: #3484e1;
  --main-color-dark-: #002f67;
  --secondary-color-: #a4c81c;
  --dark-color-: #272727;
  --dark-color-light: #303030;
}
/*#region               OverHeader */
section.overHeader {
  width: 100%;
  position: relative;
  background-color: var(--main-color-);
  display: flex;
  padding: 0 7vw;
}
section div {
  display: flex;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  max-width: 60vw;
  padding: 10px;
}
.left img {
  align-self: flex-start;
  flex-shrink: 0;
  height: 15vmin;
  position: relative;
}
.left h1 {
  position: relative;
  color: white;
  font-size: calc(2vw + 5px);
  width: 30vw;
  font-family: "Roboto", sans-serif;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}
.right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 6vmin;
  border-radius: 50px;
  font-size: calc(2vw + 5px);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.right .nousJ {
  background-color: #1e96da;
}
.right .tarifs {
  background-color: #a4c81c;
}
/* #endregion */
/*#region               Nav */
header {
  position: relative;
  width: 100%;
  height: calc(4vh + 5rem);
  background-color: var(--dark-color-);
  display: flex;
  padding: 0px 6vw;
  z-index: 100;
}
header.fixed {
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
}
header .nav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header ul li {
  position: relative;
  color: white;
  list-style: none;
  text-decoration: none;
  height: 100%;
  padding: 0 30px;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li a {
  text-decoration: none;
  transform-style: preserve-3d;
  position: relative;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  font-size: calc(1.5vw + 4px);
  font-family: "Roboto", sans-serif;
  color: white;
  transform-origin: top;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li:hover a,
header ul li:active a {
  transform: scaleY(0);
}
header ul li::before {
  content: "";
  position: absolute;
  background-color: var(--dark-color-light);
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5vw + 4px);
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
}
header ul li:nth-child(1)::before {
  content: "Accueil";
}
header ul li:nth-child(2)::before {
  content: "À propos";
}
header ul li:nth-child(3)::before {
  content: "Cours";
}
header ul li:nth-child(4)::before {
  content: "Évènements";
}
header ul li:nth-child(5)::before {
  content: "Nouveautés";
}
header ul li:nth-child(6)::before {
  content: "Boutique";
}
header ul li:hover::before,
header ul li:active::before {
  transform: scaleY(1);
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* #endregion */
/*#region               Home  */
.sectionHome {
  background-image: url("./img/image_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sectionHome h1 {
  margin-top: 2rem;
  font-size: 12rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-image: linear-gradient(90deg, var(--secondary-color-) 60%, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.sectionHome .btnContainerHome {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}
.sectionHome .btnContainerHome a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionHome .btnContainerHome a:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  font-weight: 300;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 10px 3rem;
  background-color: var(--main-color-dark-);
  transition: all 0.5s ease-in-out;
}
.sectionHome .btnContainerHome a:first-child:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sectionHome .btnContainerHome a:last-child {
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  font-weight: 300;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 10px 3rem;
  background-color: var(--secondary-color-);
  transition: all 0.5s ease-in-out;
}
.sectionHome .btnContainerHome a:last-child:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* #endregion */
/*#region               Carousel  */
.containerTest {
  background-color: var(--main-color-dark-);
  height: 92vh;
  width: 100%;
  display: flex;
}
.slider {
  position: relative;
  /* border-radius: 15px; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 7px #00000060;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-container img {
  clip-path: ellipse(0 0 at 0% 0%);
  transition: clip-path 3s;
}
.slider-container img:first-child {
  clip-path: ellipse(750px 750px at 50% 50%);
}
#back,
#forward {
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  padding: 10px 0;
  border: 0;
  outline: none;
  background: transparent;
  color: aliceblue;
  cursor: pointer;
  transition: 0.4s ease-out;
  width: fit-content;
}
#back i,
#forward i {
  font-size: 4rem;
}

#back:hover,
#forward:hover {
  zoom: 115%;
}

#back {
  margin-left: 30px;
}
#forward {
  right: 0;
  margin-right: 30px;
}

.content {
  color: aliceblue;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 5;
  text-align: center;
  background: #ffffff22;
  backdrop-filter: blur(2px);
  transition: 1s;
}
.content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
}
.content p {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  margin-top: 6px;
}

#next-img {
  z-index: -5;
}
/* #endregion */
/*#region               Tarifs */
section.tarifs {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-image: url(./img/motto-bg.jpg); */

  /*#_#_#_#_#_#_#_#_#_#_#_#_#     SICK RARE     #_#_#_#_#_#_#_#_#_#_#_#_*/
  /*    Comment edit une image de BG    */

  /* Methode #1 */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/motto-bg.jpg);

  /* Methode #2 */
  /*   background-image: url(./img/motto-bg.jpg);
  background-color: grey;
  background-blend-mode: multiply; */

  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
  box-shadow: inset 5px 5px 40px 5px rgba(26, 26, 26, 0.588);
}
section.tarifs .carte {
  width: 25vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5vw;
  padding: 4rem;
  background-color: #002f67;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 6px 5px #2727275f;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 15px;
}
section.tarifs .carte:hover {
  transform: translateY(-4rem);
  cursor: pointer;
}
section.tarifs .carte::before {
  content: "";
  background: conic-gradient(#fff 20deg, transparent 120deg);
  width: 180%;
  height: 180%;
  position: absolute;
  animation: rotate 3s linear infinite;
}
section.tarifs .carte::after {
  content: "";
  width: 97%;
  height: 97%;
  border-radius: 15px;
  backdrop-filter: blur(0px);
  position: absolute;
  box-shadow: inset 5px 5px 20px 10px #0000008c;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
section.tarifs .carte.carte1 {
  background-color: var(--main-color-);
}
section.tarifs .carte.carte2 {
  background-color: var(--secondary-color-);
}
section.tarifs .carte.carte3 {
  background-color: var(--main-color-dark-);
}
section.tarifs .carte.carte1::after {
  background-color: var(--main-color-);
}
section.tarifs .carte.carte2::after {
  background-color: var(--secondary-color-);
}
section.tarifs .carte.carte3::after {
  background-color: var(--main-color-dark-);
}
section.tarifs .carte .icon i {
  color: #fff;
  font-size: 7rem;
  z-index: 1;
}
section.tarifs .carte .texte {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: white;
  padding: 2rem 2rem 0rem;
  z-index: 1;
}
section.tarifs .carte .parag {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  padding: 2rem;
  text-align: center;
  z-index: 1;
}
section.tarifs .carte .prix {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: white;
  padding: 1rem 2rem;
  border: solid 5px white;
  margin: 1rem;
  z-index: 1;
}
/* #endregion */
/*#region               Footer */
footer#footer {
  padding: 100px calc(3rem + 6vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/footer-bg.jpg);
  color: white;
  font-size: 2rem;
}
footer#footer .footer__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer#footer .footer__content_2--container {
  display: flex;
  flex-direction: column;
}
footer#footer .footer__content_2--container .footer__logo {
  display: flex;
  justify-content: center;
}
footer#footer .footer__content_2--container .footer__logo img {
  height: 10rem;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__number {
  display: flex;
}
.footer__social {
  display: flex;
}
/* #endregion */

/*#region               Media-600px */
@media screen and (max-width: 600px) {
  :root {
    font-size: 50%;
  }
  .sectionHome h1 {
    font-size: 8rem;
  }
  .right {
    flex-grow: unset;
  }
  .right a {
    text-align: center;
    padding: 4rem 4rem;
    font-size: 2rem;
  }
  .sectionHome {
    background-position: center;
  }
  .sectionHome .btnContainerHome {
    width: 100vw;
    justify-content: space-evenly;
  }
  .sectionHome .btnContainerHome a {
    text-align: center;
    margin: 0 2rem;
  }
  section.overHeader {
    padding: 0 2rem;
  }
  section.tarifs {
    background-position: center;
  }
  section.tarifs .carte {
    width: unset;
    min-width: 300px;
  }
}
/* #endregion */
/*#region               Media-800px */
@media screen and (max-width: 800px) {
  :root {
    font-size: 45%;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header {
    justify-content: flex-end;
    align-items: center;
  }
  header .nav {
    position: absolute;
    left: -100%;
    top: 2vmin;
    flex-direction: column;
    background-color: #272727;
    width: 60%;
    height: 70vh;
    text-align: center;
    transition: 0.3s;
    padding: 15px;
  }
  header .nav.active {
    left: 0;
  }
  header ul li {
    width: 100%;
  }
  header ul li::before {
    font-size: 2.8rem;
    padding: unset;
  }
  header ul li a {
    font-size: 2.8rem;
  }
  .left h1 {
    display: none;
  }
  .right {
    flex-direction: row;
    align-items: center;
  }
  .right a {
    width: 25vw;
    margin: 0px 5px;
    font-size: calc(1.8rem);
  }
  .sectionHome .btnContainerHome {
    width: 100%;
  }
}
/* #endregion */
/*#region               Media-1436px */
@media screen and (max-width: 1426px) {
  section.tarifs .carte {
    margin: 4rem;
  }
}

/* #endregion */
